.App {
  text-align: center;
  min-height: 85vh;
  background-color: #282c34;
}

.Content {
  transform: translateY(3vh);
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1;
  width:100%
}

.Users {
  transform: translateY(3vh);
  background-color: #282c34;
  color: white;
}

.Little-Text { font-size: 10px }

.Big-Text { font-size: 50px }

#Navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#Navbar li {
  float: left;
  width: 33.33%;
}

#Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#Navbar li a:hover {
  background-color: #111111;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button1 {
  box-shadow:inset 0px -3px 7px 0px #29bbff;
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color:#2dabf9;
  border-radius:3px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:23px 43px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.button1:hover {
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color:#0688fa;
}
.button1:active {
  position:relative;
  top:1px;
}

.stream {
  max-height: 50vh;
  max-width: 90vw;
}

.logs {
  transform: translateY(2vh);
  height: 50vh;
  width: 90vw;
  justify-content: center;
  text-align: center;
  margin: auto;
  /*font-size:2vw;*/
  color: green;
  font-size: 1.5vmin;
  border: 3px solid black;
  padding: 10px;
  overflow: auto;
}
